// .global-footer {
//   background: $teal-lighter;
//
//   .striped-line {
//     height: 40px;
//   }
//
//   .h4 {
//     font-weight: 800;
//     font-size: 20px;
//   }
//
//   a {
//     color: $gray-dark;
//
//     &.btn {
//       vertical-align: 2px;
//     }
//
//     &[class^='icon-'] {
//       text-decoration: none;
//       font-size: 26px;
//       vertical-align: -4px;
//       padding: 0 5px;
//     }
//
//     &:hover {
//       color: darken($teal, 10%);
//
//       &.btn {
//         color: $white;
//       }
//     }
//   }
// }

.sponsors {
  margin-bottom: 2em;

  img {
    display: inline-block;
    margin: 0 20px 15px;
    max-height: 46px;
    width: auto;
  }
}

.footer-logos {
  img {
    max-width: 220px;
  }
}

.global-footer {
  background: $teal-lighter;
  font-size: 16px;

  a {
    color: $gray-dark;

    &[class^='icon-'] {
      text-decoration: none;
      font-size: 26px;
      vertical-align: -4px;
      padding: 0 5px;
    }

    &:hover {
      color: darken($teal, 10%);
    }
  }

  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .btn {
    margin-left: 14px;

    &:hover {
      color: $white;
    }
  }

  .navbar-nav {
    li {
      display: block;
      float: none;

      &.btn {
        text-align: left;
        margin-left: 0;
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-family-sans-serif;

        br {
          display: none;
        }

        &:hover {
          background: $teal;
          color: $white;
        }
      }
    }
  }
}

.below-footer {
  background: $white;
  color: $text-color;
  font-size: 14px;

  .container {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  a {
    color: $text-color;

    &:hover {
      color: $teal;
    }
  }

  .text-right {
    text-transform: uppercase;
    font-family: $font-family-sans-serif;

    @media (max-width: $screen-xs-max) {
      text-align: left;
    }
  }
}


.recognition {
  display: flex;
  flex-direction: row;
  vertical-align: middle;

  @media only screen and (max-width: 990px) {
    flex-direction: column;
  }

  .aeris {
    height: 75px;
    margin: 25px;

    @media only screen and (max-width: 990px) {
      margin: 25px 0;
    }

  }

    .cdfi {
      height: 100px;
    }

    .ofn {
      height: 50px;
      margin: 30px;

      @media only screen and (max-width: 990px) {
        margin: 30px 0;
      }
    }
  }

    .footer-hr {
      border-color: #436A67;
    }
