.banner {
  .logo {
    max-width: 300px;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;

    img {
      width: 100%;
      height: auto;
      display: inline-block;
      vertical-align: middle;
    }

    @media (max-width: $screen-md-max) {
      max-width: 220px;
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 0;
      min-height: 120px;
      display: flex;

      img {
        align-self: center;
        flex: 0 0 auto;
      }
    }
  }

  .menu-trigger-wrapper {
    position: relative;

    [type="checkbox"] {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    input:focus + label {
      outline: $gray-dark auto 5px;
    }

    label {
      display: block;
      text-decoration: none;
      height: 50px;
      width: 50px;
      text-align: center;
      color: $gray-dark;
      cursor: pointer;
      padding: 0;
      float: right;

      &::before, &::after {
        display: none;
      }

      i {
        font-size: 2em;
        line-height: 1.5em;
      }
    }

    @media (min-width: $screen-md-min) {
      display: none;
    }
  }
}

.topbar-wrapper {
  background: $teal-lighter;

  .menu-trigger-wrapper {
    @media (min-width: $screen-sm-min) {
      display: none;
    }

    label {
      color: $white;
    }
  }

  .topbar-menu {
    margin: 0;

    @media (max-width: $screen-xs-max) {
      flex-direction: column;
      flex-wrap: nowrap;
      margin: 0;
      width: 100%;
      transition: max-height 0.3s ease;
      max-height: 0;
      overflow: hidden;

      .topbarnav-active & {
        max-height: 100em;
      }
    }

    ul {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    li {
      height: 100%;
      list-style: none;
      position: relative;

      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: normal;
        height: 100%;
      }

      &[class*="icon-"] {
        &::before {
          color: $white;
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          transition: all 0.3s;
          line-height: 40px;
          font-size: 25px;
        }

        a {
          display: block;
          height: 40px;
          width: 40px;
          padding: 0;
          overflow: hidden;
          text-align: left;
          text-indent: -100em;
        }
      }

      &.btn-skew {
        padding: 6px 40px;

        &::before {
          top: -1px;
          left: -1px;
          bottom: -1px;
          right: -2px;
        }
      }
    }
  }
}

nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 0;
    }

    a {
      text-decoration: none;
      padding: 1rem 15px;
      color: $gray;
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.7rem;
    }
  }
}

.navbar-menu {
  border: none;
  margin: 0;
  box-shadow: none;
  padding: 0 15px;

  & > ul {
    flex: 1 1 auto;
  }

  li {
    padding: 10px 0;
    height: 100%;

    &:hover, &:focus, &:hover {
      background: transparent;

      & > a {
        background: transparent;
        color: $teal;
      }
    }

    &.menu-item-has-children {
      a {
        cursor: default;

        @media (max-width: $screen-sm-max) {
          cursor: pointer;
          display: block;
        }
      }

      .sub-menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        background: $teal-lightest;
        flex-direction: column;
        height: 0;
        overflow: hidden;

        li {
          float: none;
          background: $teal-lightest;
          padding: 0;

          &:hover, &:focus, &:hover {
            background: $teal;
          }

          & > a {
            cursor: pointer;
            position: relative;
            display: block;
            color: $gray-dark;
            background: none;
            text-decoration: none;

            &:hover, &:focus, &:hover {
              background: $teal;
              color: $white;
            }
          }

        }

        @media (min-width: $screen-md-min) {
          position: absolute;
          z-index: 10;
          min-width: 200px;
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
          margin-top: 10px;
          max-height: 300em;
        }
      }

      &:hover, &:focus, &.hover {
        .sub-menu {
          height: auto;
        }
      }
    }

    &.current-page-ancestor > a, &.current-menu-item > a, &.active > a {
      color: $teal;
      text-decoration: underline;
    }

    a {
      background: none;
    }
  }

  @media (max-width: $screen-sm-max) {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 0 2em;
    width: 100%;
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;

    li {
      width: 100%;

      &.hover {
        .sub-menu {
          max-height: 100em;
        }
      }
    }

    .mobilenav-active & {
      max-height: 100em;
    }
  }
}
