.page-header {
  &.photo-overlay {
    position: relative;
    margin-bottom: 2em;
    background-position: center;
    background-size: cover;
    height: 139px;
    z-index: 0;

    [class*="2015-16-annual-report"] & {
      height: 550px;

      .article-title-overlay {
        top: 50%;
        bottom: auto;
        transform: translate(0, -50%);
        text-shadow: 0 0 30px $black;
      }

      h1 {
        text-align: center;

        em {
          display: block;
          font-size: $font-size-h2;
          margin: 1em 0;
          font-style: normal;
          font-family: $font-family-sans-serif;
          font-weight: bold;
        }
      }
    }

    .article-title-overlay {
      position: absolute;
      padding-bottom: .5em;
      color: $white;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 3;

      h1 {
        border-bottom: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include trans-gray-gradient-bottom;
      z-index: 1;
    }

    &:after {
      @include trans-teal-dark-slant;
      transform: scale3d(1.5, 1.5, 1);
      right: -50%;
      opacity: .75;
      z-index: 2;
    }

    &:hover {
      &:after {
        transform: none;
      }
    }

    @media (min-width: $screen-md-min) {
      height: 262px;
    }

    @media (max-width: $screen-xs-max) {
      .entry-title {
        font-size: 2.5rem;
      }
    }
  }

  .single-post:not(.hero-image-full) &, .date & {
    position: relative;
    border: none;
    margin: 0 0 50px;
    padding: 0;
    height: 50px;
    overflow: hidden;
    display: block;

    &:after {
      content: '';
      position: absolute;
      @include trans-teal-dark-slant;
      transform: scale3d(1.5, 1.5, 1);
      top: 0;
      right: -50%;
      bottom: 0;
      left: 0;
    }
  }

  .single-post & {
    display: none;
  }

  .post-type-archive-resource & {
    background-image: url('../images/resources-header.jpg') !important;
  }

  .post-type-archive-data & {
    background-image: url('../images/data-header.jpg') !important;
  }
}

.page-template-template-full-width {
  .main {
    margin: 0 auto;
    float: none;
  }
}
